<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <!-- 声明Servlet对象 -->
        <servlet-name>GetMenu</servlet-name>
        <!-- 上面一句指定Servlet对象的名称 -->
        <servlet-class>services.GetMenu</servlet-class>
        <!-- 上面一句指定Servlet对象的完整位置，包含包名和类名 -->
    </servlet>
    <servlet-mapping>
        <!-- 映射Servlet -->
        <servlet-name>GetMenu</servlet-name>
        <!--<servlet-name>与上面<Servlet>标签的<servlet-name>元素相对应，不可以随便起名  -->
        <url-pattern>/services/GetMenu</url-pattern>
        <!-- 上面一句话用于映射访问URL -->
    </servlet-mapping>

    <servlet>
        <servlet-name>DefInput</servlet-name>
        <servlet-class>services.DefInput</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefInput</servlet-name>
        <url-pattern>/services/Definput</url-pattern>
    </servlet-mapping>

</web-app>